@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom spinner animation */
@keyframes custom-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.custom-spin {
  animation: custom-spin 1s linear infinite;
}
